################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sources/Phenix-challenge/Phenix.Challenge.Console/obj
/Sources/Phenix-challenge/.vs/Phenix-challenge
/.vs
/Sources/Phenix-challenge/Phenix.Challenge.Domain.Tests/obj
/Sources/Phenix-challenge/Phenix.Challenge.Domain.Tests/bin/Debug/netcoreapp2.1
/Sources/Phenix-challenge/Phenix.Challenge.Domain/obj
/Sources/Phenix-challenge/Phenix.Challenge.Domain/bin/Debug/netstandard2.0
/Sources/Phenix-challenge/Phenix.Challenge.Console/bin/Debug/netcoreapp2.1
/Sources/Phenix-challenge/Domain/Phenix.Challenge.Domain/obj/Debug/netstandard2.0
/Sources/Phenix-challenge/Domain/Phenix.Challenge.Domain/bin/Debug/netstandard2.0
/Sources/Phenix-challenge/Domain/Tests/Phenix.Challenge.Domain.Tests/bin/Debug/netcoreapp2.1
/Sources/Phenix-challenge/Domain/Tests/Phenix.Challenge.Domain.Tests/obj
/Sources/Phenix-challenge/Domain/Phenix.Challenge.Domain/obj
/Sources/Phenix-challenge/Infrastructure/Phenix.Challenge.Infrastructure/obj/Debug/netstandard2.0
/Sources/Phenix-challenge/Infrastructure/Phenix.Challenge.Infrastructure/bin/Debug/netstandard2.0
/Sources/Phenix-challenge/Infrastructure/Tests/Infrastructure.Tests/obj
/Sources/Phenix-challenge/Infrastructure/Tests/Infrastructure.Tests/bin/Debug/netcoreapp2.1
/Sources/Phenix-challenge/Infrastructure/Phenix.Challenge.Infrastructure/obj
/Sources/Phenix-challenge/Application/Phenix.Challenge.Application/obj
