################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sources/Phenix-challenge/Phenix.Challenge.Console/obj
/Sources/Phenix-challenge/.vs/Phenix-challenge
/.vs
/Sources/Phenix-challenge/Phenix.Challenge.Domain.Tests/obj
/Sources/Phenix-challenge/Phenix.Challenge.Domain.Tests/bin/Debug/netcoreapp2.1
/Sources/Phenix-challenge/Phenix.Challenge.Domain/obj
/Sources/Phenix-challenge/Phenix.Challenge.Domain/bin/Debug/netstandard2.0
/Sources/Phenix-challenge/Phenix.Challenge.Console/bin/Debug/netcoreapp2.1
